:root {
    --background-color:#0972A7;
    --secondary-color:#F1CF82;
    --h1-color:#F3F2EB;
    --heading-color:#484847;
    --text-color:#FDFCFB;
    --font-family: 'Roboto', sans-serif;
    --font-weigh-thin: 100;
}

a {
    color: var(--text-color);
}


h2 {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

h3 {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    }

.hero h1 {
    position: absolute;
    color: var(--h1-color);
    font-family: var(--title-font);
    font-weight: var(--font-weigh-thin);
    background-color: var(--heading-color);
    }  

.hero article {
    position: absolute;
    top: 20%;
    /*left: 27%;*/
    width: auto;
    color: var(--secondary-color);
    background-color: var(--heading-color);
    opacity: 0.8;
    padding: 1em;
    
    }
.hero img {
    display: block;
    width: 100%;
    height: auto;
    }

.hero article img {
    float: right;
    display: inline;
    width: 20%;
    height: auto;
}


header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 20px;
    margin-bottom: 2px;
    background-color: var(--heading-color);
}

header nav {
    display: flex;
    align-items: center;

}

header nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    border-color: #FDFCFB;
    border-style: ridge;
    padding: 10px;


}

header img {
    width: 150px;
    height: auto;
    padding: 2px;
}

.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 20px;
    margin: 20px 0;
    align-items: center;
}

.history-section h2 {
    grid-column: 1/-1;
    text-align: center;
}

.history-section img {
    grid-column: 2;
    width: 100%;
    height: auto;
}

.history-section .left {
    grid-column: 1;
    text-align: left;
    padding: 10px;
}

.history-section .right {
    grid-column: 3;
    text-align: right;
    padding: 10px;
}

.adventure-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
    padding: 20px;
    margin: 20px auto;
    align-items: center;
    max-width: 1200px;
}

.adventure-section h2 {
    grid-column: 1/-1;
    text-align: center;
}

.adventure-section img {
    width: 100%;
    height: auto;
    }

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    align-items: center;
    max-width: 1200px;
    text-align: center;
    position: relative;
    background-color: var(--heading-color);
    flex-direction: column;
}

footer p {
    flex-grow: 1;
    text-align: center;
}

.sociallinks {
    position: absolute;
    right: 0;
    display: flex;
    text-decoration: none;

}

.sociallinks img {
    width: 30px;
    height: auto;
}

.wireframe {
    text-align: center;
    margin-top: 10px;
}

.wireframe a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.paragraph-40 {
	width: 164px;
	height: 120px;
	color: #798DA3;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 11px;
	line-height: 1.5;
	text-align: left;
}

.info-map {
    display: flex;
    justify-content: space-between;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
}

.employees h2 {
    grid-column: 1/-1;
    text-align: center;
}

.employees img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

label, input, button, select, textarea {
    font-family: Merriweather, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
    color:#0972A7;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align:bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.form-item label {
    display: block;
    text-align: left; 
}

.fieldset {
    text-align: center; 
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: roboto;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(2, 44, 62);
  }
  
  th,
  td {
    border: 1px solid rgb(53, 23, 205);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(13, 44, 167);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

/*index.html*/

.hero-index {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.hero-index img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-index h1 {
    position: absolute;
}

.call-trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    text-align: center;
    align-items: start;
    padding: 10px;
}

.call-trips h2 {
    grid-column: span 3;
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.call-trips img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.call-trips p {
    margin: 0;
    padding: 0 10px;
    max-width: 80%;
}

.call-trips div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: var(--heading-color);
}

.call-trips nav {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.call-trips a {
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    font-size: 16px;
    border: none;
}

/*trips.html*/

.trips-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 20px;
    text-align: center;
}

.trips-description h2 {
    grid-column: span 3;
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.trips-description div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: var(--heading-color);
}

.trips-description img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.trips-description p {
    text-align: justify;
    margin: 0;
    padding: 0 10px;
    color: var(--text-color)
}

.table {
    display: grid;
    padding: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: roboto;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

.call-contact nav {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.call-contact a {
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    font-size: 16px;
    border: none;
}

